<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalprojectbinaracademy_secondhandapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.webkit.PermissionRequest" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pensive_clown"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pensive_clown"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProjectBinarAcademySecondHandApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.activity.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".ui.view.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FinalProjectBinarAcademySecondHandApp">
        </activity>
    </application>

</manifest>